div.page { 
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

div.login.page {
    background-color: mediumseagreen;
}

div.chat.page {
    background-color: peachpuff;
}

div.chat { display: none; }

input {
    
    display: block;

}
