.chat.page
    flex-direction: row
    justify-content: flex-start
    align-items: flex-start
    height: 100vh

    main, div
        height: 100vh

.chat__connected-users
    order: -1
    flex-basis: 20%

.chat__chat-box
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: space-between
    background: mediumseagreen
    flex-grow: 1
    padding: 2em
    background: #fefefe

.chat__messages, .chat__form
    width: 100%
    
.chat__messages
    border: 1px solid black

.chat__form
    flex-basis: 12%
    padding: 1em 0

.chat__message-input
    border: 1px solid blue
    width: inherit
    padding: 1em
    font-size: 1.2em
